.img-hover-v1 span {height: 200px;}
.img-hover-v1.offices-img span {height: 280px;}
.p-a-0{
    padding:0
}
.m-b-10{
    margin-bottom:10px;
}
.m-t-10{
    margin-top:10px;
}
.m-b-30{
    margin-bottom:30px;
}
.m-t-30{
    margin-top:30px;
}
.gallery-box {box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);}
.gallery-box h5{margin: 0;padding: 10px;}
div[data-status=preview]::before, tr[data-status=preview] td:nth-of-type(1)::before {
    float: right;
    padding: 5px;
}
@media (max-width: 991px){
    .img-hover-v1.offices-img span {height: 280px;}
    .full-width-410 {
        width: 100% !important;
    }
}
@media (max-width: 1200px){
    .gallery-title{height:60px;}
}
