#learning_center .topnav {
    padding-top: 20px;
}
.reg_btn {
margin: 0 auto;
cursor: pointer;
width: 250px;
height: 25px;
background: red !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c80101), color-stop(100%, #870101)) !important;
background: -webkit-linear-gradient(top, #c80101 0%, #870101 100%) !important;
background: -o-linear-gradient(top, #c80101 0%, #870101 100%) !important;
background: -ms-linear-gradient(top, #c80101 0%, #870101 100%) !important;
background: linear-gradient(to bottom, #c80101 0%, #870101 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c80101', endColorstr='#870101', GradientType=0 ) !important;
color: white;
padding: 10px !important;
border: 1px solid grey;
}
#btn10 { display:none;}
/* fix for ui tabs */
.ui-widget-content {background: white; }
.ui-state-active a, .ui-state-hover a {outline: none;}

#learning_center{min-height:100px;}

#learning_center #main_menu{ margin:0; padding:0;  background: transparent}

#learning_center .topnav{
	border-bottom: 1px solid #ccc; position:relative; top:0px;  z-index:4;background: #fff;width:100%; height:50px;
}

#learning_center .topnav h1.crs{line-height: 50px; padding: 0 0 0 15px; margin: 0 ; color:#C00;width:100%; font-size: 20px; 
 font-weight:700;text-align:left; font-family:arial !important; }


#learning_center .topnav .back{
vertical-align: middle;
background: black;
width: 5%;
float: left;
color: #fff;
font-size: 35px !important;
text-align: center;
line-height: 50px;
margin-right: 20px;	
}


#learning_center .topnav .back:hover{background:#AAA !important;}

#learning_center #main_menu .maintext{
	width: 41%;
  color: #005b83;
  font-size: 22px;
 
  font-weight: 400;
  text-align: center;
  padding: 20px 0;
  margin: 0 23%;
}

#learning_center #main_menu .box{  
	width: 100%;
  height: 130px;
  cursor: pointer;
  border: 0;
  margin-bottom:10px;
  position: relative;
  border: 1px solid #ddd!important;
  box-shadow:none!important;
}

#learning_center #main_menu .box:hover{opacity:.6;background: rgb(255, 255, 255) !important;
}
#learning_center #main_menu h1{font-size: 5vw; margin-bottom:10px;}

#learning_center #main_menu .box div.tit{
	margin-left:15%; text-align:center; color:#C00; font-size:16px; text-transform:uppercase; font-weight:400;width:85%; line-height: 30pt;height: auto; 
	
}


#learning_center #main_menu .box .info{
	display:block;
	text-align: left;
	  width: 76 %;
	  position:absolute;
	  left:16%;
	 font-size: 14px;
         line-height: 1.5;
	  padding: 2px 55px 1px 10px;
	
	border:none !important;	
}

#learning_center #main_menu .box div.icn{
position: absolute;
left:0;
  width: 15%;
  height: 100%;  
  background-image: url("../../../../../../../../../mte-media.com/style/img/media_icon.png");
  background-repeat: no-repeat;
  background-size:40%;
  background-position: center center;
  background-color: rgb(47, 47, 47) !important;
}




#learning_center #main_menu .ply{
	width:35px;
	height:129px;
	background-color:#ccc;
	position:absolute; bottom:0; right:0;
	background: url(../../../../../../../../../www.mte-media.com/images/play22.png) 50% 50% / 60% no-repeat rgb(202, 1, 1) !important;
	 -webkit-border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
}

@media only screen and (max-width:1024px){
	
	#learning_center #main_menu .box { height: 200px;}
	
	#learning_center #main_menu .box div.tit{font-size: 28pt ; line-height: 33pt}
	
	#main_menu .box .info{ font-size: 21pt; line-height: 22pt;}
	 
	#learning_center  #main_menu .box div.icn{
		position: absolute;
		left:0;
	  	width: 15%;
	  	height: 100%;  
	  	background-image: url("../../../../../../../../../mte-media.com/style/img/media_icon.png");
	  	background-repeat: no-repeat;
	  	background-size:20%;
	  	background-position: center center;
	  	background-color: #848a95;
	}
	
	#learning_center #main_menu .ply{
		width:50px; height:100%;
		background-color:#ccc;
		position:absolute; bottom:0; right:0;
		background-image: url('../../../../../../../../../www.mte-media.com/images/play22.png');
		 -webkit-border-bottom-right-radius: 0;
		-moz-border-bottom-right-radius: 0;
		border-bottom-right-radius: 0;
		}


}


@media only screen and (max-width:768px){
	
#learning_center .topnav h1.crs{font-size: 20pt;}


#learning_center .topnav .back{font-size: 20pt !important;height: 100%;}

	#learning_center #main_menu .box{ height: 180px;}

	#learning_center #main_menu .box div.tit{font-size: 20pt ; line-height: 27pt}
	
	#learning_center #main_menu .box .info{ font-size: 14pt; line-height: 15pt}
	 
	 #learning_center #main_menu .box div.icn{
		position: absolute;
		left:0;
	  	width: 15%;
	  	height: 100%;  
	  	background-image: url("../../../../../../../../../mte-media.com/style/img/media_icon.png");
	  	background-repeat: no-repeat;
	  	background-size:60% !important;
	  	background-position: center center;
	  	background-color: #848a95;
	}

	#learning_center #main_menu .ply{display: none}
}


@media only screen and (max-width: 480px) {
 
#learning_center .topnav{ height:40px;}
#learning_center .topnav h1.crs{font-size: 14pt;}

#learning_center .topnav .back{
	font-size: 14pt !important;
}



#learning_center #main_menu .box{ height: 150px;}

#learning_center #main_menu .box div.tit{font-size: 16pt ; line-height: 18pt}

#learning_center #main_menu .box .info{ font-size: 10pt; line-height: 13pt; max-width:86%;}

#learning_center #main_menu .box div.icn{
	position: absolute;
	left:0;
  	width: 15%;
  	height: 100%;  
  	background-image: url("../../../../../../../../../mte-media.com/style/img/media_icon.png");
  	background-repeat: no-repeat;
  	background-size:65% !important;
  	background-position: center center;
  	background-color: #848a95;
}


}