.container .col-md-5 {width: 36.5%;}
.container .col-md-7 {width: 63.501%;}
.btn-u-black{background-color:#222222;}
.btn-u-black:hover{background-color:#151515;}
#loyalty-sprite-1{display:block; background: url('../images/hotforex-bars-sprite.html') no-repeat -3px -5px;width: 115px;height: 22px;}
#loyalty-sprite-2{display:block; background: url('../images/hotforex-bars-sprite.html') no-repeat -4px -42px;width: 128px;height: 22px;}
#loyalty-sprite-3{display:block; background: url('../images/hotforex-bars-sprite.html') no-repeat -5px -79px;width: 127px;height: 20px;}
#loyalty-sprite-4{display:block; background: url('../images/hotforex-bars-sprite.html') no-repeat -3px -148px;width: 114px;height: 22px;}
#loyalty-sprite-5{display:block; background: url('../images/hotforex-bars-sprite.html') no-repeat -3px -113px;width: 125px;height: 22px;}
#loyalty-sprite-6{display:block; background: url('../images/hotforex-bars-sprite.html') no-repeat -3px -179px;width: 125px;height: 22px;}

@media (max-width:1200px){.hidden990{display:none;}
	.loyalty-h1{font-size: 22px !important;}
	}
@media (max-width:1024px){
	#loyalty-1 p{width:auto !important;}
	}
@media (max-width:992px){
	.loyalty-h1{font-size: 22px !important;}
	#loyalty-1 img{margin:auto !important;padding-left: 10px!important;}
	#loyalty-3-box-1{height:auto !important;text-align: center;}
	#loyalty-3-box-4{padding:0 !important;}
	#loyalty-3-box-5{text-align:center;height: auto !important;}
	.red-sm-line{margin: 20px auto !important;}
	#loyalty-3-box-3{background-position: 0px -70px !important;}
	}

@media (max-width:768px){
	#loyalty-3-box-3 {background-position: center center !important;}
	}

#loyalty-1 {background-color: #202020 !important;}

#loyalty-1 h2 {
    font-size: 30px;
    font-family:Roboto;
    font-weight:500;
    }
#loyalty .levels {
    width: 580px;
    margin: auto;
    font-size:16px
    }

.f-10 {
    font-size: 10px;
    }
.f-12 {
    font-size: 12px;
    }
#loyalty .sub-des {
    width: 235px;
    margin: auto;
    margin-bottom: 15px;
    }
.silver { color: #959595;}
.gold {color: #C1AC77;}
.platinum {color: #797979;}

.benefit { background-color: #F7F7F7 !important; }

.benefit .wth {
    width: 265px;
    margin: auto;
    }
@media (max-width:992px) {
    .benefit .wth {
       width: auto;
       }
    }
.black {
    background-color: #202020 !important;
    }

.black .pd {
    padding-top: 60px;
    padding-bottom: 60px;
    }
.box1 {
    height:270px;
    padding: 15px 20px;
    padding-top: 0;
    }
.box1 .brd-top {
    width:80px;
    border-bottom:3px solid #2F2F2F;
    }
.box1 h2 {
    font-size: 24px;
    line-height: 27px;
    }
.box1 p {font-size:13px !important }

.box2 {
    background-image:url(../images/box-money.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:270px;
    padding: 15px 20px;
    }
.box2 p {font-size:13px !important}

.box3 {
    background-image:url(../images/box-autochartist.html);
    background-repeat: no-repeat;
    background-size: cover;
    height:270px;
    padding: 25px 20px;
    background-position-y:-25px;
    }
.body-hfm .box3 {
    background-image:url(../images/hfm_box_autochartist.jpg);
}
.box3 h2 {
    font-size: 18px;
    line-height: 22px;
    margin-top: 10px;
    }
.box4 h2 {
    font-size: 21px;
    line-height: 22px;
    margin-top: 10px;
    }
.box4 .box4-a {
    background-image:url(../images/loyalty_bonus.html);
    background-repeat: no-repeat;
    background-size: cover;
    height:270px;
    padding: 25px 20px;
    overflow:hidden;
    }
/*
.hfke .box4 .box4-a{
    background-image:url('/assets/hfappnew/websites/main/inside-pages/promotions/loyalty-program/images/ke_loyalty_bonus.jpg');
    height:540px
}
*/
.body-hfm .box4 .box4-a{
    background-image:url(../images/hfm_loyalty_bonus.jpg);
}
.box4 .box4-a p {
    position: absolute;
    background-color: #DA2B2B;
    top: 20px;
    right: -35px;
    color: #fff;
    font-weight: bold;
    padding: 6px;
    width: 146px;
    text-align: center;
    transform: rotate(45deg);
    text-transform:uppercase;
    font-size:16px;
    }
.box4 .box4-b {
    background-image:url(../images/box-VPS.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:270px;
    padding: 25px 20px;
    }
.box4 .box4-c {
    background-image:url(../images/box-analysis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:270px;
    padding: 25px 20px;
    }
/*
.hfke .box4 .box4-c {
    background-image:url('/assets/hfnew/images/inner/funding/loyalty-program/ke_box-analysis.jpg');
    height:540px
}
*/
.box4 .box4-d {
    background-image:url(../images/box-VPS-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:270px;
    padding: 25px 20px;
    }
.hfsc .box4 .box4-d{
    width:760px;
    background-image:url('../images/sc_box-VPS-3.html');
}
.box-bl {
    background-image:url(../images/box-black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border:6px solid #DA2B2B;
    height:540px;
    padding: 30px 30px;
    }
.box-bl h2 {
    font-size: 21px;
    line-height: 22px;
    }
.box-bl .bdr-red {
    width:100px;
    border-bottom:2px solid #DA2B2B;
    }
.box-bl p {font-size:13px !important}
.box-bl .login {
    font-size:12px;
    width: 200px;
    text-align: center;
    }
.box-bl .btn-open {
    font-size:12px;
    width: 200px;
    text-align: center;
    }
.box-bl span {font-size: 10px; }